* {
  font-family: Helvetica;
  font-weight: 400;
}

#titulo {
  color: black;
  text-align: center;
}

#placar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#jogador,
#computador {
  position: relative;
  flex-grow: 1;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  color: azure;
}

#jogador {
  background-color: palevioletred;
}

#computador {
  background-color: turquoise;
}

#versus {
  font-size: 40px;
  text-align: center;
  width: 70px;
}

#jogador-nome,
#computador-nome {
  margin: 0;
  padding: 0;
}

#jogador-nome {
  text-align: left;
}

#computador-nome {
  text-align: right;
}

#jogador-pontos,
#computador-pontos {
  position: absolute;
  top: 9px;
  font-size: 32px;
}

#jogador-pontos {
  right: 20px;
}

ul#jogador-escolha,
ul#computador-escolha {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul#jogador-escolha li,
ul#computador-escolha li {
  display: inline;
}

ul#jogador-escolha li a,
ul#computador-escolha li a {
  opacity: 0.2;
}

ul#jogador-escolha li a:hover, ul#jogador-escolha li a.selecionado, ul#computador-escolha li a.selecionado {
  opacity: 1;
}

ul#jogador-escolha li a img,
ul#computador-escolha li a img {
  max-width: 200px;
}

#mensagens {
  background-color: lightgrey;
  font-size: 32px;
  border-radius: 5px;
  margin: 40px 0;
  padding: 20px;
}
